<a href="https://colab.research.google.com/github/IrisMon/BeginnerMachineLearning/blob/main/Implementing_Dictionary_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
dict1={'Rosa':150,'Jesus':146,'Manuel':160}

In [6]:
dict1

{'Jesus': 146, 'Manuel': 160, 'Rosa': 150}

In [7]:
dict1={'Rosa':[150,200],'Jesus':[146,300],'Manuel':[160,500]}

In [8]:
### Accessing elements of a Dictionary
dict1['Rosa']

[150, 200]

In [10]:
## Adding elements to Dictionary
dict1['Iris']=[133,180]

In [11]:
dict1

{'Iris': [133, 180],
 'Jesus': [146, 300],
 'Manuel': [160, 500],
 'Rosa': [150, 200]}

In [12]:
## Para a√±adir multiples elementos en un diccionario usamos:
dict1.update({'Pedro':[200,330],'Maria':[111,110]})

In [13]:
dict1

{'Iris': [133, 180],
 'Jesus': [146, 300],
 'Manuel': [160, 500],
 'Maria': [111, 110],
 'Pedro': [200, 330],
 'Rosa': [150, 200]}

In [14]:
### Para eliminar un elemento en un diccionary
del dict1['Rosa']

In [15]:
dict1

{'Iris': [133, 180],
 'Jesus': [146, 300],
 'Manuel': [160, 500],
 'Maria': [111, 110],
 'Pedro': [200, 330]}

In [16]:
# define the key value pairs
my_dictionary = {
    'name'       : 'abc',
    'age'        :  21,
    'roll_no'    : 'CSE100',
    'percentage' :  85,
    'attendance' :  74,
    'city'       : 'gurugram',
    'country'    : 'india'
}

In [18]:
my_dictionary['name']

'abc'

In [19]:
## Update a value of a key 
my_dictionary['age']=35

In [21]:
##Get the keys of the dictionary
my_dictionary.keys()

dict_keys(['name', 'age', 'roll_no', 'percentage', 'attendance', 'city', 'country'])

In [22]:
##Get the values of the dictionary
my_dictionary.values()

dict_values(['abc', 35, 'CSE100', 85, 74, 'gurugram', 'india'])

In [23]:
##Get all the items of the dictionary
my_dictionary.items()

dict_items([('name', 'abc'), ('age', 35), ('roll_no', 'CSE100'), ('percentage', 85), ('attendance', 74), ('city', 'gurugram'), ('country', 'india')])

In [24]:
###update dictionary with a dictionary 
my_dictionary.update({'pincode':121221,'lastname':'dde'})

In [25]:
my_dictionary

{'age': 35,
 'attendance': 74,
 'city': 'gurugram',
 'country': 'india',
 'lastname': 'dde',
 'name': 'abc',
 'percentage': 85,
 'pincode': 121221,
 'roll_no': 'CSE100'}

In [27]:
sorted(my_dictionary.items())

[('age', 35),
 ('attendance', 74),
 ('city', 'gurugram'),
 ('country', 'india'),
 ('lastname', 'dde'),
 ('name', 'abc'),
 ('percentage', 85),
 ('pincode', 121221),
 ('roll_no', 'CSE100')]