<a href="https://colab.research.google.com/github/IrisMon/BeginnerMachineLearning/blob/main/Lambda%20Expression%2BFilterFuntion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def odd(a):
  if a%2==0:
    print('Not odd')
  else:
    print("odd")

In [ ]:
odd(9)

odd

In [ ]:
def add_20(a):
  return(a+20)

In [ ]:
add_20(5)

25

In [ ]:
x= lambda a : a+20

In [ ]:
x(5)

10

In [1]:
lambda_add= lambda a,b : a+b
print('The value of 5 +3 = ',lambda_add(5,3))

The value of 5 +3 =  8

In [2]:
print('The value of 5 +5 = ',lambda_add(5,5))

The value of 5 +5 =  10

In [3]:
print('The value of 5 +8 = ',lambda_add(5,8))

The value of 5 +8 =  13

In [8]:
##Filtra valores pares
def normal_event(x):
  if x%2!=0:
    return True
  else:
    return False

In [5]:
origin_list=[5,17,32,43,12,62,237,133,78,21]

**FILTER FUNTION**

Lo usamos para utilizar una function y una lista

In [9]:
filter_list= list (filter(normal_event,origin_list))

In [10]:
filter_list

[5, 17, 43, 237, 133, 21]

In [15]:
## Ahora usando la funtion Lambda
filter_list=list (filter(lambda x : (x%2!=0),origin_list))
print('the odd number in the original list are: ' ,filter_list)

the odd number in the original list are:  [5, 17, 43, 237, 133, 21]

In [18]:
### Ahora filtremos los valores multiples de 5
origin_list=[5,34,60,66,100,7776,7695]
filter_list5=list (filter(lambda x : (x%5==0),origin_list))
print('The number multiple of 5 are : ',filter_list5)

The number multiple of 5 are :  [5, 60, 100, 7695]

**Map Funtion**

Utilizamos una funtion y una lista y lo que obtenemos es una nueva lista con las modificaciones realizadas

In [20]:
### multiplicando una lista por 2
origin_list=[5,34,60,66,100,7776,7695]
mapped_list=list(map(lambda x:x*2,origin_list))
print('Multiplicamos la lista original x 2 obtenemos : ', mapped_list)

Multiplicamos la lista original x 2 obtenemos :  [10, 68, 120, 132, 200, 15552, 15390]

In [23]:
### Poner la primera letra en mayuscula
origen_list=['iris','kumiko','maria','pierina']
mapped_list_name= list(map(lambda x: x[0].upper()+x[1:],origen_list))
print('Modificando la primera lista : ',mapped_list_name)

Modificando la primera lista :  ['Iris', 'Kumiko', 'Maria', 'Pierina']