<a href="https://colab.research.google.com/github/IrisMon/BeginnerMachineLearning/blob/main/List_Proyectos_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Problem Statement**

In [ ]:
student_marks = [['Name',  ['A','B','C','D','E']],
                 ['Ankit',  [41, 34, 45, 55, 63]],
                 ['Aravind',[42, 23, 34, 44, 53]],
                 ['Lakshay',[32, 23, 13, 54, 67]],
                 ['Gyan',   [23, 82, 23, 63, 34]],
                 ['Pranav', [21, 23, 25, 56, 56]]
                ]

In [ ]:
student_marks[1][1][0]

41

In [ ]:
student_marks[1:]

[['Ankit', [41, 34, 45, 55, 63]],
 ['Aravind', [42, 23, 34, 44, 53]],
 ['Lakshay', [32, 23, 13, 54, 67]],
 ['Gyan', [23, 82, 23, 63, 34]],
 ['Pranav', [21, 23, 25, 56, 56]]]

In [ ]:
student_marks[1][1][1]

34

Quien tiene el mejor score en el tema B

In [ ]:
## Primero extraeremos el nombre de cada estudiante y la nota que alcanzo en el topic B
for student in student_marks[1:]:
  name=student[0]
  score_B=student[1][1]
  print(name,score_B)

Ankit 34
Aravind 23
Lakshay 23
Gyan 82
Pranav 23

In [ ]:
student_with_marks_B=[]
for student in student_marks[1:]:
  name=student[0]
  score_B=student[1][1]
  student_with_marks_B.append([score_B,name])

In [ ]:
student_with_marks_B

[[34, 'Ankit'], [23, 'Aravind'], [23, 'Lakshay'], [82, 'Gyan'], [23, 'Pranav']]

In [ ]:
sorted(student_with_marks_B,reverse=True)

[[82, 'Gyan'], [34, 'Ankit'], [23, 'Pranav'], [23, 'Lakshay'], [23, 'Aravind']]

In [ ]:
sorted(student_with_marks_B)[-1][1]

'Gyan'

Data Structure Tuple

In [ ]:
my_tuple=('A','B','C','D','E',1,'D','D')

In [ ]:
my_tuple[-2]

'E'

In [ ]:
my_tuple.index('E')

4

In [ ]:
### contar cuantos elementos igual a E hay en la tuple
my_tuple.count('E')

1

In [ ]:
for element in my_tuple:
  print(element)

A
B
C
D
E
1

In [ ]:
my_tuple

('A', 'B', 'C', 'D', 'E', 1)

In [ ]:
## Extraer los elementos de la posicion 3 a la 8
my_tuple[3:8]

('D', 'E', 1, 'D', 'D')

In [ ]:
### Contar cuantos elementos tengo en la lista
my_tuple[3:8].count('D')

3

In [ ]:
my_tuple[1:2].count('B')

1

In [ ]:
my_tuple[3:5]

('D', 'E')

In [ ]:
my_tuple[3:5].index('E')

1

In [ ]:
### No se puede añadir tampóco eliminar ningun valor
my_tuple[2])='D'

SyntaxError: ignored

In [ ]:
tuple1=((1,2,3,1),
        (1,1,1,2),
        (2,1,2,1),
        (1,2,1,1))

In [ ]:
tuple1[1][1:3]

(1, 1)

In [ ]:
a=(1,2,3,4,5,4)

In [ ]:
a[3:5]

(4, 5)

Data structure Set

In [ ]:
my_set={'A','B','C','D',1,'E',2,4}

In [ ]:
##Automaticamente ordena la lista
my_set

{1, 2, 4, 'A', 'B', 'C', 'D', 'E'}

In [ ]:
my_set={'A','B','C','D',1,'E',2,4,4,4}

In [ ]:
my_set## How we can see delete duplicate

{1, 2, 4, 'A', 'B', 'C', 'D', 'E'}

In [ ]:
my_list=['A','B',1,2,'B','A']

In [ ]:
##Convertimos una lista a set 
my_set_from_list=set(my_list)

In [ ]:
my_set_from_list

{1, 2, 'A', 'B'}

In [ ]:
my_tuple=('A','B','B',1,2,'A')

In [ ]:
my_set_from_tuple=set(my_tuple)

In [ ]:
my_set_from_tuple

{1, 2, '4', 'A', 'B'}

In [ ]:
### Agregamos elemento
my_set_from_tuple.add('4')

In [ ]:
###Delete
my_set

{1, 2, 4, 'B', 'C', 'D'}

In [ ]:
my_set.discard('A')

In [ ]:

my_set.discard('f')