<a href="https://colab.research.google.com/github/IrisMon/BeginnerMachineLearning/blob/main/Modifying%20Data%20Pandas%20Null%20update%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**MODIFYING DATA**

**Table of conents**

* How to impute the missing values in any column?
* How to update the values of a column with a new mapping?
* How to create a new column by modifying the existing column?
* How to convert categorical varaibles into numerical?


**READ THE DATE**

In [ ]:
import pandas as pd 
import numpy as np
import os

In [ ]:

!pip install -q xlrd
!git clone https://github.com/IrisMon/BeginnerMachineLearning.git

Cloning into 'BeginnerMachineLearning'...
remote: Enumerating objects: 117, done.
remote: Counting objects: 100% (117/117), done.
remote: Compressing objects: 100% (113/113), done.
remote: Total 117 (delta 55), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (117/117), 1.84 MiB | 11.20 MiB/s, done.
Resolving deltas: 100% (55/55), done.

In [ ]:
# Files from the cloned git repository.
!ls BeginnerMachineLearning/Preprocessing_Subsetting_Modifying_Pandas_Dataframes/datasets

big_mart_sales.csv

In [ ]:
data = pd.read_csv('BeginnerMachineLearning/Preprocessing_Subsetting_Modifying_Pandas_Dataframes/datasets/big_mart_sales.csv')
data.head(3)

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700

[3 rows x 12 columns]

**HOW TO IMPUTE THE MISSING VALUES USING LOC IN ANY COLUMN?**

**Check the columns with null values.**

Fisrt , we will check the number of missing values in each of the column. Use the function isna().sum()

In [ ]:
##Check for the null values
data.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

So , we have missing values in the column **Item_Weight** and **Outlet_Size**

**Select the columns where Item_weight has missing values using loc**

In [ ]:
#Row with null values in the Item Weight
data.loc[data.Item_Weight.isna()==True]
data.loc[data.Item_Weight.isna()==True]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
7              FDP10          NaN  ...  Supermarket Type3          4022.7636
18             DRI11          NaN  ...  Supermarket Type3          2303.6680
21             FDW12          NaN  ...  Supermarket Type3          4064.0432
23             FDC37          NaN  ...      Grocery Store           214.3876
29             FDC14          NaN  ...      Grocery Store           125.8362
...              ...          ...  ...                ...                ...
8485           DRK37          NaN  ...  Supermarket Type3          6261.8490
8487           DRG13          NaN  ...  Supermarket Type3          4111.3150
8488           NCN14          NaN  ...  Supermarket Type3          2756.4120
8490           FDU44          NaN  ...      Grocery Store           487.3656
8504           NCN18          NaN  ...  Supermarket Type3          4138.6128

[1463 rows x 12 columns]

In [ ]:
data.Item_Weight.mean()

12.857645184136409

In [ ]:
#Fill the null values in Item_Weight by mean 
data.loc[(data.Item_Weight.isna()==True),'Item_Weight']=data.Item_Weight.mean()

In [ ]:
data.isnull().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [ ]:
data.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [ ]:
data.head(3)

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700

[3 rows x 12 columns]

**Fill the missing values in the column : Outlet_Size by most frequent value using Loc**

***Mode of Outlet Size***

In [ ]:
data.Outlet_Size.mode()

0    Medium
dtype: object

In [ ]:
data.Outlet_Size.value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [ ]:
data.loc[(data.Outlet_Size.isna()==True ),'Outlet_Size']='Medium'

**Use the fillna function to impute the missing values.**



*fillna funtion is another way to impute the missing values. Use the parameter **inplace=True** to store the results in the dataframe*

---

In [ ]:
##Fill the null values in Outlet size by the most frequent value: "Medium"

data.Outlet_Size.fillna('Medium',inplace=True)

In [ ]:
#Check the null values again 
data.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64


**HOW TO UPDATE THE VALUES OF A COLUMN?**

In [ ]:
#Look at the data 
data.head(3)

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700

[3 rows x 12 columns]

***Let's have a look at the count of each category in the column *** **Item_Fat_Content** . We will use **values_counts** function to do that***

In [ ]:
data.Item_Fat_Content.value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

We can see that categories Low Fat , LF and low fat are same and also Regular, reg are same . So to keep the data clean we will map all these to only two categories to LF and R using the map function. Let's see how?


---

In [ ]:
#create a new mapping (dictionary)

mapping ={
    'Low Fat':'LF',
    'Regular':'R',
    'LF':'LF',
    'reg':'R',
    'low fat':'LF'
}

In [ ]:
#Use the map function to update the values

data.Item_Fat_Content=data.Item_Fat_Content.map(mapping)

In [ ]:
data.Item_Fat_Content.value_counts()

LF    5517
R     3006
Name: Item_Fat_Content, dtype: int64