<a href="https://colab.research.google.com/github/IrisMon/BeginnerMachineLearning/blob/main/PrimerosPasosEnPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**📍📍 Variables and Data Types 📍 :)**


*Practicando en clase

In [ ]:
a=74
a
print(a)

74

In [ ]:
a=7
b=a
a=3

In [ ]:
print(a)

3

In [ ]:
type(b)

str

In [ ]:
if z>0:
  y=z+1
  print(y)
elif z==0:
  y=z+2
elif z==10:
  y=20
else:
  print('Adios')

11

In [ ]:
x=3
if(x==1):
  print('The condition value is True')

In [ ]:
a=5
b=4
if (a<=b):
  print('a is smaller than b')
else:
  print('a is greater than b')

a is greater than b

In [ ]:
##Multiple conditions 
a=20
b=5
if (a>10) and (b>5):
  print('Pollo')
elif (a<10) or (b>10):
  print('Gato')
else:
  print('Shu chao')

Shu chao

In [ ]:
x=input()
x=int(x)
if x%2==0:
  print('Even')
else:
  print('Odd')

1000
Even

In [ ]:
y=input()
y=int(y)
if y >90 :
  print('Grade A')
elif y>60 and y<=90:
  print('Grade B')
else:
  print('Grade F')

4888
Grade A


**Looping Constructs**

In [ ]:
for number in range(4):
  print(number)

0
1
2
3

In [ ]:
for numero in range(3,7):
  print(numero+3)

6
7
8
9

In [ ]:
for number in range(1,20,4):
  print(number,end=' ')

1 5 9 13 17

In [ ]:
for Iris in 'Iris Susana':
  print(Iris, end='  ')

I  r  i  s     S  u  s  a  n  a

In [ ]:
for Maria in 'MQ':
  for Iris in 'IS':
    print(Maria, Iris)

M I
M S
Q I
Q S

In [ ]:
for PCA in 'POLLO':
  print(PCA)

P
O
L
L
O

In [ ]:
for outer_loo_number in range(2,4):
  for inner_loo_character in "ABC":
    print(outer_loo_number,inner_loo_character)

2 A
2 B
2 C
3 A
3 B
3 C

**While loop**

In [ ]:
number=0
while (number<7):
  print(number)
  number=number+1

0
1
2
3
4
5
6

In [ ]:
number=0
while (number<7):
  print(number)
  number=number+3

0
3
6

In [ ]:
for number in range(2,6,3):
  print(number)

2
5

In [ ]:
for outer_loop_number in range(1,2):
  for inner_loop_number in "ABCD":
    print(outer_loop_number,inner_loop_number, end=' ')

1 A 1 B 1 C 1 D

In [ ]:
for character in "analytics":
  if (character=="a") or (character=="i"):
    print("x",end=' ')
  else:
    print(character, end='x')

x nxx lxyxtxx cxsx

In [ ]:
number=10
while number>5:
  print(number,end=' ')
  number=number-1
  if number==8:
    number=2

10 9

In [ ]:
number=0 
for number in range(10):
  if number==3:
    break
  print('Number is '+str(number))
print('Out of loop')

Number is 0
Number is 1
Number is 2
Out of loop

In [ ]:
password='data'
for trial in range(1,5):
  if trial==4:
    print('One trial left')

  enter_pasword=input("Enter Password ")
  if enter_pasword==password:
    print("Welcome to Python Course!!")
    break
  else:
    print("Wrong Password")

Enter Password 4
Wrong Password
Enter Password data
Welcome to Python Course!!

**Continue Stratement**

In [ ]:
number=4
for number in range(10):
  if number==5:
    break ###Inore when number=5
  print('number is '+ str(number))
print('Out of loop')

number is 0
number is 1
number is 2
number is 3
number is 4
Out of loop

In [ ]:
number=4
for number in range(10):
  if number==5:
    pass ###Inore when number=5
  print('number is '+ str(number))
print('Out of loop')

number is 0
number is 1
number is 2
number is 3
number is 4
number is 5
number is 6
number is 7
number is 8
number is 9
Out of loop

In [ ]:
for a in range(3):
 print(a)

0
1
2

In [ ]:
OTP='123'
for trial in range(1,5):
  if trial ==4:
    print('One Trial left!!!')
  enter_otp=input('Enter OTP: ')
  if enter_otp != OTP:
    print('Try Again!!')
    continue
  else:
    name= input('Enter Your name: ')
    city_name= input('Enter Your city: ')
    break

Enter OTP: 1
Try Again!!
Enter OTP: 123
Enter Your name: Iris
Enter Your city: Lima

In [ ]:
number=0
for number in range(10):
  if number == 2:
    continue
  print(number, end=' ')

0 1 3 4 5 6 7 8 9

In [ ]:
number=10
while number>3:
  if number%2==0:
    number=number-1
    continue
  else:
    print(number, end='')
    number=number-1

975

In [ ]:
list3=[1,"pollo",2,"gato",3,"gallina"]
list3[0]

1

In [ ]:
list3[1:4]

['pollo', 2, 'gato']

In [ ]:
## Adding a single element
list3.append(6)
list3

[1, 'pollo', 2, 'gato', 3, 'gallina', 6, 6]

In [ ]:
##Adding multiple elements
list3.extend([7,"Conejo"])
list3

[1, 'pollo', 2, 'gato', 3, 'gallina', 6, 6, 7, 'Conejo', 7, 'Conejo']

In [ ]:
##Adding list to a list
list3.append([4,5])
list3

[1, 'pollo', 2, 'gato', 3, 'gallina', 6, 6, 7, 'Conejo', 7, 'Conejo', [4, 5]]

In [ ]:
###Deleting an elemento by value
list3.remove(6)
list3

[1, 'pollo', 2, 'gato', 3, 'gallina', 6, 7, 'Conejo', 7, 'Conejo', [4, 5]]

In [ ]:
del list3[2]
list3

[1, 'pollo', 6, 7, 'Conejo', 7, 'Conejo', [4, 5]]

In [ ]:
my_tuple=(2,3,4,5)

In [ ]:
Lits=[2,3,4]